Django>=5.1,<5.2
djangorestframework
django-cors-headers
dj-database-url
psycopg2-binary
gunicorn
whitenoise
python-dotenv
cloudinary
django-cloudinary-storage
Pillow
django-ratelimit
django-allauth
python-magic
PyPDF2
python-docx
python-pptx
reportlab
django-redis>=5.4.0
redis>=5.0.0
django-storages
boto3
